*{
    margin: 0px;
    padding: 0px;
}


.logo{
    display: flex;
    margin-left: 20px;

}

.box ,input{
    height: 45px;
    width: 600px;
    display: flex;
    margin-left: 20px;
}



.s1{
    margin-left: 80px;
    margin-right: 40px;
}

.s2{
    margin-right: 20px;
}


.profile{
    margin-right:20px ;

}

.belowdropdown{
    width: 100%;

}


.drop{
    display: flex;
    gap: 10px;
    margin-left: 20px;

}


div{
    font-family: 'Times New Roman', Times, serif;
}



.btn, button{
    height: 80px;
    padding: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}



.category{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 50px;

}



.below{
    width: 100%;
    margin-top: 30px;

   
}


.orignal{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-left: 64px;
}


h3{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;


}